body {
    background-color: #433c3c;
}

.middle-information-wrapper .left-side {
    padding: 20px 0px 0px 20px;
}

.middle-information-wrapper > .left-side p {
    color: rgba(255, 255, 255, 0.767);
    font-family: sans-serif;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 3px;
}

.middle-information-wrapper > .left-side > .bold p {
    color: white;
    font-weight: 500;
}

.middle-information-wrapper > .left-side img { 
    height: 30px;
    width: 100%px;
}

.middle-information-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}